.modal_text:where(.css-dev-only-do-not-override-djtmh8).ant-modal
  .ant-modal-content {
  width: 100%;
  /* border-radius: 0px !important; */
}
.modal_text:where(.css-dev-only-do-not-override-djtmh8).ant-modal
  .ant-modal-footer
  > .ant-btn
  + .ant-btn {
  background: #3a9943;
}

.modal_text .ant-btn-default:hover.css-dev-only-do-not-override-djtmh8 {
  border-color: #3a9943;
  color: #3a9943;
}
