.ant-tabs-nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .ant-tabs-tab {
    justify-content: center;
  }
.ant-btn-primary {
  background-color: #1677ff;
}