.cartItem:hover .cartItemChildren {
  background-color: #3a9943;
  color: #fff;
}
.banner {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: all 0.3s ease;
  top: 0;
  width: 100%;
  height: 100%;
}

.banner.sticky {
  transform: translateY(-82%);
}
/* 
.banner.sticky .bannerContainer {
  padding-left: 200px;
  padding-right: 200px;
}

.banner.sticky .searchBonsai,
.banner.sticky .followUs,
.banner.sticky .contactUs {
  visibility: hidden;
} */
